.layer5-caption {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2.5rem;
    font-size: 1.1rem;
    color: #000;
    img {
      width: 110px;
      height: 25px;
      margin-left: .5rem;
      margin-right: .5rem;
    }
  }
@media(max-width:992px){
  .layer5-caption{
    display: inherit;
  }
}  