// Styling for the services section
.contributors-heading {
  margin: 15px 0;
  text-transform: none;
  color: $black;
}

.contributors {
  background: #eaeaea;
  > section {
    .section-heading {
      padding-bottom: 40px;
      text-align: center;
    }
  }
  .container > .row {
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    .col-md-3.col-sm-6 {
      display: inline-block;
    }
  }
}
