$color_1: #aaa;
$background-color_1: #3C494E;
$background-color_2: white;

body{
	margin: 0;
}

#contents{
    // height:1000px; Should not be hard coded
    position:relative;
}
#sidebar{
	background-color: $background-color_1;
    height:100%;
	margin-top: 5rem;
	padding-top: 10rem;
	width: 13rem;
    float:left;
	transition: all 0.4s;
}

.fixed{
    position:fixed;
    top:0;
    left:0;
}

.bottom{
    top:auto;
    bottom:0;
    position:absolute;
}


.page-content {
	width: calc(100%-13rem);
	margin-left: 12rem;
	transition: all 0.4s;
}
#sidebar.active {
	margin-left: -17rem;
}
#content.active {
	width: 100%;
	margin: 0;
}
#dashboardPagecontainer {
	padding-top: 10.5rem;
    overflow: hidden;
}
.text-uppercase {
	letter-spacing: 0.1em;
}
.text-gray {
	color: $color_1;
}
.load-generators {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}
.test-selector {
	width: 100%;
	padding: 5px;
}
.drop-down {
	margin-top: 2rem;
}
.toggle-button {
	margin-left: -3rem;
	position: sticky;
	z-index: 3;
	// bottom: 1.4rem;
	text-align: right;
	padding: 0.3rem;
    background-color: $background-color_1;
    border: #3C494E solid 1px;
}

.icon-left {
	position: sticky;
	bottom: 2rem;
	z-index: 2;
    
}
.icon-right {
	position: sticky;
	bottom: 2rem;
	z-index: 2;
}
.performance-graph {
	width: fit-content;
	min-width: 100%;
	margin-right: auto;
	margin-left: auto;
	border: solid 1px black;
	position: relative;
	background-color: $background-color_2;
}
.graph-image {
	width: 79vw;
	opacity: 0.5;
}
.test-text {
	position: absolute;
	top: 10rem;
	left: 19rem;
}
@media only screen and (max-width: 991px) {
	#dashboardPagecontainer {
		padding-top: 6.64rem;
	}
}
@media (max-width: 768px) {

	#dashboardPagecontainer {
		padding-top: 5.5rem;
	}

	#sidebar.active {
		margin-right: 0;
	}
	#content {
		width: 100%;
	}
	#content.active {
		margin-left: 0rem;
	}
	.test-text{
		top:4rem;
		left:6rem;
		font-size: medium;
	}
}
