// Styling for the implementation section
.engage-subheading {
    margin-top: 18px;
    padding-top: 0px; 
    padding-bottom: 0px;
    color: $gray-800;
    @include heading-font-italic  
  }

.padded-page-section {
  padding-top: 50px; 
  padding-bottom: 30px;
  color: $gray-800;
  @include heading-font-italic  
}  
