// Styling for the implementation section
.implementation {
  background: linear-gradient(to top, $brand-blue-light 0%, 
      $brand-blue-dark 100%);

  > .page-section {
    text-align: center;
    padding-bottom: 35px; 
    padding-top: 55px;
    img {
      margin-left: auto;
      margin-right: auto;
      max-width: 90%;
      box-shadow: 6px 6px 5px $gray-700;
      -moz-box-shadow: 6px 6px 5px $gray-700;
      -webkit-box-shadow: 6px 6px 5px $gray-700;
      -khtml-box-shadow: 6px 6px 5px $gray-700;
      // border: 7px solid fade-out($black, 0.9);
    }
    h4 {
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: none;
    }
    p {
      margin-top: 0;
    }
    h2.section-heading {
      color:#fff;
    }
    h3.section-subheading {
      margin-bottom: 75px;
      @include heading-font-italic
    }
    .section-caption {
      margin-top: 18px;
      color: #fff;
      @include heading-font
    }
    .performance-tests {
      margin-top: 20px;
      color: black;
      font-weight: bolder;
      font-size: larger;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      background-color: white;
      height: 40px;
      line-height: 40px;
      border-radius: 10px;
    }
  }
}
