// Styling for the posts section
.posts {
    background: #fff;
    .page-section, section {
      padding: 0px;
      margin-top: 30px;
      margin-bottom: 40px;
    }  
    h2.section-heading {
      margin: 0px;
      padding: 0px;
      text-align: center;
    } 
    h3.section-subheading {
      padding: 0px;
      position: relative;
      top: -10px;
      margin: 0px;
      color: $gray-600;
      font-style: italic;
    }
  .posts-item {
    right: 0;
    margin: 0 0 15px;
    .posts-link {
      position: relative;
      display: block;
      max-width: 400px;
      margin: 0 auto;
      cursor: pointer;
      .posts-hover {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-transition: all ease 0.5s;
        -moz-transition: all ease 0.5s;
        transition: all ease 0.5s;
        opacity: 0;
        background: fade-out($secondary-brand-color, .1);
        &:hover {
          opacity: 1;
        }
        .posts-hover-content {
          font-size: 20px;
          position: absolute;
          top: 50%;
          width: 100%;
          height: 20px;
          margin-top: -12px;
          text-align: center;
          color: white;
          i {
            margin-top: -12px;
          }
          h3,
          h4 {
            margin: 0;
          }
        }
      }
    }
    .posts-caption {
      max-width: 400px;
      margin: 0 auto;
      padding: 25px;
      text-align: center;
      color: $white;
      background-color: $secondary-brand-color;
      h4 {
        margin: 0;
        text-transform: none;
      }
      p {
        font-size: 1.1em;
        color: $gray-700;
        font-style: italic;
        margin: 0;
        @include serif-font;
      }
    }
  }
  * {
    z-index: 2;
  }
}
@media(min-width:767px) {
  #posts {
    .posts-item {
      margin: 0 0 10px;
    }
  }
}

.posts-modal {
  .modal-dialog {
    margin: 1rem;
    max-width: 100vw;
  }
  .modal-content {
    padding: 10px 0;
    text-align: left;
    h2 {
      font-size: 3em;
      margin-bottom: 15px;
    }
    p {
      margin-bottom: 20px;
    }
    p.item-intro {
      font-size: 1.35em;
      font-style: italic;
      margin-bottom: 10px;
      @include serif-font;
    }
    ul.list-inline {
      margin-top: 0;
      margin-bottom: 30px;
    }
    img {
      margin-bottom: 20px;
    }
    button {
      cursor: pointer;
    }
  }
  
  .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      opacity: 0.3;
    }
    .lr {
      /* Safari and Chrome */
      z-index: 1051;
      width: 1px;
      height: 75px;
      margin-left: 0px;
      /* IE 9 */
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      background-color: $gray-600;
      .rl {
        /* Safari and Chrome */
        z-index: 1052;
        width: 1px;
        height: 75px;
        /* IE 9 */
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        background-color: $gray-600;
      }
    }
  }
}
.posts-subtitle-gray {
  color:gray;
  display: block;
  top:-10px;
  font-size:2.25em;
}