// Styling for the subscribe section
section#subscribe {
  background-color: $gray-900;
  background-image: url("#{$subscribe-image}");
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 248px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}

.center {
  margin: auto;
  float: center;
  width: 50%;
  border: 3px;
  text-align: center;
  padding: 10px;
}

.white-text{
    color: #fff;
}

.image-right {
  width: 25%;
  float: right;
  padding-right: 100px;
  border: 10px;
}

.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00d3a9;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #00d3a9}

.button:active {
  background-color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.text{
  color: white;
}
