// Font Mixins
@mixin courier-font {
  font-family: 'Courier New', Courier, monospace;
}
@mixin serif-font {
  font-family: 'Open Sans', sans-serif, Roboto;
}
@mixin script-font {
  font-family: 'Open Sans', sans-serif, Roboto;
}
@mixin body-font {
  font-family: 'Open Sans', sans-serif, Roboto;
}
@mixin heading-font {
  font-family: 'Open Sans', sans-serif, Roboto;
}
