// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
  }
}

.background{
 background-image: linear-gradient(to top, #00b39f, #46b8ab, #68bcb4, #85c0bd, #a0c4c3, #b0cacc, #c0d0d3, #d0d6d8, #dce0e2, #e8eaec, #f4f4f5, #ffffff);
 background-size: auto;
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

a {
  color: #231f20;
  text-decoration: underline;
 }

.page-section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 45px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    color: #00b39f;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 75px;
    text-transform: none;
    @include serif-font;
  }
}
@media(min-width:768px) {
  section {
    padding: 150px 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}
